.m_nav {
  height: 100%;
  width: 100%;
  position: absolute;
  &_background {
    position: fixed;
    right: 2rem;
    top: 0.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #1e1e1e;

    transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 1000;
  }
  &_button {
    cursor: pointer;
    right: 2rem;
    top: 0.5rem;
    z-index: 4000;
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      position: relative;
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: var(--svg--color);
        display: inline-block;
      }

      &::before,
      &::after {
        transition: all 0.3s;
        content: '';
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
  &_checkbox {
    display: none;
  }

  &_checkbox:checked + &_button &_button-icon {
    background-color: transparent;
  }

  &_checkbox:checked + &_button &_button-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &_checkbox:checked + &_button &_button-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &_container {
    position: fixed;
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: 0;
    transition: width 0.2s 0.2s;
    z-index: 3000;

    &-list {
      margin-top: -15rem;
      padding: 2rem;
      opacity: 0;
      transition: all 0s 0.2s;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-li {
        cursor: pointer;
        &:first-child {
          margin-top: 1rem;
        }
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 5rem;
        margin-top: 5px;
        text-decoration: none;
        font-size: 2.5rem;
      }
    }
  }
}
// .upload-l {
//   background-color: rgba(crimson, 0.6);
//   color: white;
//   border-radius: 7px;
// }
